# 轻易的不要执行这两步。。
# 从过去向未来，清理90个tag
# 删除了tag的release会变成"Draft"状态，需要步骤2清理
name: tools 删除过早的tag 步骤1
on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
# clone 本程序
      - name: checkout iotdb-daily-build
        uses: actions/checkout@v2
        with:
          path: iotdb-daily-build
          repository: 'xiaoyekanren/iotdb-daily-build'
          ref: master
          fetch-depth: 0
      - name: delete tag
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd ${{ github.workspace }}/iotdb-daily-build
          bash action-tools-delete_tags/tag_delete.sh "${{ github.workspace }}/iotdb-daily-build"

# git push commit
      - name: push commit
        env:
          github_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cd ${{ github.workspace }}/iotdb-daily-build
          git config --local user.email "876670773+github-actions[bot]@qq.com"
          git config --local user.name "github-actions[bot]"
          cat tag_delete.txt >> action-tools-delete_tags/history/deleted_tags.txt
          git add action-tools-delete_tags/history/deleted_tags.txt
          git commit -m "$(date +"%Y-%m-%d") delete more tags."
          git push -u origin master
